---
layout: page
permalink: /categories/dotNet
background: '/img/bg-post.jpg'
title: Разделы и категории
---

<div id="archives">
  {% for post in site.categories[dotNet] %}

    {{ post.title }}

    <!-- <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <div id="#{{ category_name | slugize }}"></div>
      <p></p>
      
      <h3 class="category-head">{{ category_name }}</h3>
      <a name="{{ category_name | slugize }}"></a>
      {% for post in site.categories[category_name] %}
      <article class="archive-item">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
      </article>
      {% endfor %}
    </div> -->
  {% endfor %}
  </div>
  
