---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Мой блог</h2>
            <p>Все, что связано с разработкой на платформе .NET, web и другие интересные темы. От настольных и веб-приложений до библиотек, сервисов и др.</p>
            <p><a class="btn btn-primary" href="/posts">Перейти к публикациям»</a></p>
        </div>        
        <div class="col-md-4">
          <h2>"Желтая" платформа</h2>
          <p>Об отечественной бизнес-платформе 1С:Предприятие и все что с этим связано. Разработка, сопровождение и другие интересности.</p>
          <p><a class="btn btn-primary" href="https://infostart.ru/profile/225415/" target="_blank">Перейти на Инфостарт»</a></p>
      </div>
        <div class="col-md-4">
            <h2>Мои проекты</h2>
            <p>Все мои проекты на платформе .NET, различные решения для SQL Server, библиотеки на C++ и другое. Open souce и не только</p>
            <p><a class="btn btn-primary" href="/projects">Перейти к проектам »</a></p>
        </div>
    </div>
  </div>