---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Мой путь .NET</h2>
            <p>Все, что связано с разработкой на платформе .NET. От настольных и веб-приложений до библиотек, сервисов и др.</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Разработка баз данных</h2>
            <p>Разработка баз данных и все что с ними связано. SQL Server, PostgreSQL и др.</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Администрирование</h2>
            <p>Администрирование и сопровождение различных информационных систем и ПО, мониторинг и т.д.</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Фронт</h2>
            <p>Немного о фронтендовой разработке. Немного потому что это не мое :)</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
        <div class="col-md-4">
            <h2>"Желтая" платформа</h2>
            <p>Об отечественной бизнес-платформе 1С:Предприятие и все что с этим связано. Разработка, сопровождение и другие интересности.</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Великий C++</h2>
            <p>Великий и ужасный C++. Совсем немного.</p>
            <p><a class="btn btn-primary" href="#">Перейти »</a></p>
        </div>
    </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

      </div>
    </div>
  </div> -->
